html {
  font-family: Overpass, sans-serif;
  color: #fff;
}

body {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  border-color: rgba(255, 255, 255, .5);
  color: #fff;
}

.btn:hover {
  color: #ff5e3a;
}

.border {
  border-bottom: 3px solid rgba(255, 255, 255, .5);
}

@media only screen and (min-width: 60em) {

  section {
    border-right: 3px solid rgba(255, 255, 255, .5);
  }

  .border {
    border-bottom: 0;
  }

}
